.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.header {
    position: sticky;
    top: 0;
    z-index: 400;
}

.main {
    display: flex;
    flex: 1 1 auto;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    margin-top: var(--header-height);

    &:global {
        &.homePage {
            margin-top: 0;
        }
    }
}

.content {
    width: 100%;
}
