@import 'styles/utils/responsive';

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.carousel {
    width: 100%;
}

.slide {
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 0 0 25%;

    @include s {
        flex: 0 0 33.33333%;
        padding: 0 10px;
    }

    @include lg {
        flex: 0 0 25%;
    }
}

.productCard {
    color: var(--color-text-primary);
    border: 1px solid #f1f1f1;
    height: 165px;
    margin-bottom: 25px;
    transition: all 0.3s ease-in-out;
    width: 156px;

    &:hover {
        background-color: var(--primary-color);
        color: #fff;

        svg {
            color: #fff;
        }
    }

    @include sm {
        height: 300px;
        margin-bottom: 0;
        width: 100%;
    }

    @include lg {
        height: 300px;
        max-width: 280px;
    }
}

.productImage {
    color: var(--primary-color);
    height: 90px;
    position: relative;
    width: 90px;

    @include sm {
        height: 118px;
        width: 140px;
    }
}

.productName {
    font-size: 2.6rem;
    font-weight: 500;
    margin-top: 15px;

    @include sm {
        margin-top: 30px;
    }

    @include md {
        margin-top: 60px;
    }
}
