@import 'styles/utils/responsive';

.productCard {
    color: var(--color-text-primary);
    border: 1px solid #f1f1f1;
    height: 165px;
    margin-bottom: 25px;
    transition: all 0.3s ease-in-out;
    width: 156px;

    &:hover {
        background-color: var(--primary-color);
        border: 1px solid var(--primary-color);
        color: var(--color-text-tertiary);

        svg {
            color: var(--color-text-tertiary);
        }
    }

    svg {
        color: var(--primary-color);
        height: 90px;
        width: 90px;

        @include sm {
            height: 118px;
            width: 140px;
        }
    }

    @include sm {
        height: 300px;
        width: 280px;
    }

    @include md {
        margin-bottom: 0;
        width: 100%;
    }

    @include lg {
        height: 300px;
        width: 280px;
    }
}

.productName {
    font-size: 2.6rem;
    font-weight: 500;
    margin-top: 15px;

    @include sm {
        margin-top: 30px;
    }

    @include md {
        margin-top: 60px;
    }
}
