@import 'styles/utils/responsive';

.container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 34px;

    @include s {
        grid-template-columns: repeat(2, auto);
        grid-gap: 40px 16px;
    }

    @include sm {
        grid-template-columns: repeat(3, auto);
        grid-gap: 50px 20px;
    }
}

.showMore {
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    display: flex;
    height: 45px;
    font-size: 1.8rem;
    font-weight: 700;
    justify-content: center;
    margin: 50px auto 0 auto;
    transition: all 0.3s ease-in-out;
    width: 220px;

    &:hover {
        background-color: var(--primary-color);
        color: var(--color-text-tertiary);
    }
}
