@import 'styles/utils/responsive';

.container {
    align-items: center;
    border: 1px solid #f1f1f1;
    color: var(--color-text-primary);
    display: flex;
    font-size: 16px;
    font-weight: 500;
    flex-direction: column;
    justify-content: space-between;
    height: 330px;
    transition: all 0.3s ease-in-out;
    padding: 50px 30px 30px 30px;
    position: relative;
    width: 230px;

    &:hover {
        border: 1px solid transparent;
        box-shadow: 0 3px 21px rgba(0, 0, 0, 0.1);
    }

    @include md {
        height: 400px;
        font-size: 18px;
        padding: 50px;
        width: 280px;
    }
}

.date {
    align-self: flex-start;
    background-color: var(--primary-color);
    color: var(--color-text-tertiary);
    font-size: 14px;
    left: 0;
    padding: 5px 10px;
    position: absolute;
    top: 20px;
}



.title {
    text-align: center;
}

.readMore {
    align-items: center;
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    font-weight: 600;
    margin-top: 28px;

    svg {
        margin-left: 5px;
    }

    @include md {
        margin-top: 40px;
    }
}
