$breakpoints: (
    'xs': 0,
    's': 480,
    'sm': 768,
    'md': 1024,
    'lg': 1280,
    'xl': 1281,
);

$drawerTransitionDuration: 0.3s;
$modalTransitionDuration: 0.3s;

:export {
    @each $key, $value in $breakpoints {
        breakpoints_#{unquote($key)}: $value;
    }
    drawerTransitionDuration: $drawerTransitionDuration;
    modalTransitionDuration: $modalTransitionDuration;
}
