.flex {
    display: flex;

    &-inline {
        display: inline-flex;
    }

    &-row {
        flex-direction: row;

        &-reverse {
            flex-direction: row-reverse;
        }
    }

    &-column {
        flex-direction: column;

        &-reverse {
            flex-direction: column-reverse;
        }
    }

    &-wrap {
        flex-wrap: wrap;

        &-reverse {
            flex-wrap: wrap-reverse;
        }
    }

    &-no-wrap {
        flex-wrap: nowrap;
    }

    &-grow {
        flex-grow: 1;

        &-0 {
            flex-grow: 0;
        }
    }

    &-shrink {
        flex-shrink: 1;

        &-0 {
            flex-shrink: 0;
        }
    }
}

.justify {
    &-start {
        justify-content: flex-start;
    }
    &-center {
        justify-content: center;
    }
    &-end {
        justify-content: flex-end;
    }
    &-between {
        justify-content: space-between;
    }
    &-around {
        justify-content: space-around;
    }
}

.align {
    &-start {
        align-items: flex-start;
    }
    &-center {
        align-items: center;
    }
    &-end {
        align-items: flex-end;
    }

    &-self {
        &-start {
            align-self: flex-start;
        }
        &-center {
            align-self: center;
        }
        &-end {
            align-self: flex-end;
        }
    }

}
