.mantine-Carousel-indicators {
    bottom: -25px;
}

.mantine-Carousel-indicator {
    background-color: #d9d9d9;
    border-radius: 10px;
    height: 2px;
    width: 30px;

    &[data-active='true'] {
        background-color: var(--primary-color);
    }

    @include sm {
        width: 50px;
    }
}
