@import 'styles/utils/responsive';

.container {
    height: 100%;
    position: relative;
    width: 100%;
}

.carouselContainer {
    display: flex;
    height: 100vh;
    width: 100%;
}

.carousel {
    flex: 1;

    & :global {
        & .mantine-Carousel-control {
            background-color: #f1f1f1;
            border: none;
            border-radius: 0;
            box-shadow: none;
            color: var(--color-text-primary);
            height: 40px;
            opacity: 1;
            width: 40px;

            svg {
                height: 20px;
                width: 30px;
            }

            &:hover {
                color: var(--color-text-tertiary);
                background-color: var(--primary-color);
            }
        }
    }
}

.products {
    padding: 100px 24px;

    @include md {
        padding: 100px 130px;
    }
}

.projects {
    padding: 0 24px 100px 24px;

    @include md {
        padding: 0 130px 100px 130px;
    }
}
