@import 'styles/utils/responsive';

.container {
    position: relative;
    width: 100%;
}

.carousel {
    width: 100%;

    & :global {
        & .mantine-Carousel-control {
            border: none;
            border-radius: 0;
            box-shadow: none;
            color: #d9d9d9;
            height: 14px;
            opacity: 1;
            position: absolute;
            top: calc(50% + 13px);
            width: 24px;

            svg {
                height: 20px;
                width: 30px;
            }

            &:hover {
                color: var(--primary-color);
            }

            &:first-child {
                left: -20px;
            }

            &:last-child {
                right: -20px;
            }
        }
    }
}

.slide {
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 0 0 33.33333%;
    padding: 20px 0;

    @include xl {
        flex: 0 0 25%;
    }

    @include xxl {
        flex: 0 0 20%;
    }
}

.showMore {
    align-items: center;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    display: flex;
    height: 45px;
    font-size: 1.8rem;
    font-weight: 700;
    justify-content: center;
    margin: 40px auto 0 auto;
    transition: all 0.3s ease-in-out;
    width: 220px;

    &:hover {
        background-color: var(--primary-color);
        color: var(--color-text-tertiary);
    }
}

.projectCardsContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > div:not(:last-of-type) {
        margin-bottom: 25px;
    }

    @include sm {
        flex-direction: row;

        > div:not(:last-of-type) {
            margin-right: 16px;
            margin-bottom: 0;
        }
    }
}
