@import 'styles/utils/responsive';

.header {
    align-items: center;
    background-color: var(--color-text-tertiary);
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    color: var(--color-text-primary);
    display: flex;
    font-size: 16px;
    font-weight: 500;
    justify-content: space-between;
    height: var(--header-height);
    left: 0;
    padding: 0 16px;
    position: fixed;
    transition: all 0.3s ease-in-out;
    top: 0;
    width: 100%;
    z-index: 100;

    &:global {
        &.homePage {
            background: linear-gradient(
                180deg,
                #000000 -52.48%,
                rgba(0, 0, 0, 0.458333) 33.24%,
                rgba(0, 0, 0, 0) 88.2%
            );
            box-shadow: none;
            color: var(--color-text-tertiary);
        }
    }

    @include sm {
        padding: 0 24px;
    }

    @include md {
        font-size: 18px;
        padding: 0 130px;
    }
}

.content {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.linkItem {
    cursor: pointer;
    padding-right: 45px;

    span {
        padding: 40px 0;

        &:hover {
            border-bottom: 3px solid var(--primary-color);
        }
    }

    &:global {
        &.homePage {
            span:hover {
                border-bottom: none;
            }
        }
    }
}

.eShopping {
    color: var(--primary-color);
    font-weight: 700;
    padding: 0 40px 0 30px;

    &:global {
        &.homePage {
            color: var(--color-text-tertiary);
        }
    }
}

.searchIcon {
    cursor: pointer;
    margin-right: 25px;
}

.menuDropdown {
    border: none;
    border-radius: 0;
    top: 105px !important;
    width: 100% !important;
}

.mobileMenu {
    @include md {
        margin-left: 25px;
    }
}

.searchContainer {
    background-color: #fff;
    left: 0;
    top: 80px ;
    padding: 5px 16px;
    position: absolute;
    width: 100% ;

    @include sm {
        padding: 10px 24px;
    }

    @include md {
        top: 100px ;
        padding: 20px 130px;
    }
}
