.pagination {
    margin-top: 50px;

    & :global {
        & .mantine-Pagination-item {
            color: var(--color-text-primary);
            border: none;
            height: 30px;
            font-size: 1.4rem;
            width: 30px;

            &[data-active='true'] {
                background-color: transparent;
                border: 1px solid var(--primary-color);
            }
        }
    }
}
