@import 'styles/utils/responsive';

.container {
    align-items: center;
    color: var(--color-text-primary);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input {
    border: none;

    display: flex;
    flex: auto;
    font-size: 14px;
    font-weight: 500;

    &::placeholder {
        color: #a9a9a9;
    }

    &:focus-visible {
        outline: none;
    }

    @include md {
        font-size: 18px;
    }
}

.icon {
    cursor: pointer;
    margin-right: 5px;

    @include md {
        margin-right: 0;
    }
}
