@import 'styles/utils/responsive';

.container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    width: 100%;

    @include md {
        margin-bottom: 0;
    }
}

.input {
    border: none;
    color: var(--color-text-primary);
    display: flex;
    flex: auto;
    font-size: 1.4rem;
    font-weight: 500;

    &::placeholder {
        color: #a9a9a9;
    }

    &:focus-visible {
        outline: none;
    }

    @include md {
        font-size: 1.8rem;
    }
}

.icon {
    cursor: pointer;
}
