@import 'styles/utils/responsive';

.container {
    color: var(--color-text-primary);
    display: flex;
    flex-direction: column;
    padding: 50px 16px 100px 16px;
    max-width: 784px;
    margin: 0 auto;

    @include s {
        padding: 50px 24px 100px 24px;
    }

    @include md {
        padding: 100px 0;
    }
}

.title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 12px;
    margin-top: 0;

    @include s {
        font-size: 56px;
        margin-bottom: 16px;
    }

    @include md {
        font-size: 72px;
    }
}

.dateAndTag {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.date {
    color: var(--color-text-secondary);
    font-size: 14px;
    font-weight: 400;

    @include md {
        font-size: 18px;
    }
}

.tag {
    align-items: center;
    background-color: #f1f1f1;
    color: var(--color-text-secondary);
    display: flex;
    font-size: 12px;
    font-weight: 500;
    justify-content: center;
    margin-left: 12px;
    padding: 8px 10px;
}

.mainImageContainer {
    height: 200px;
    margin: 24px 0;
    max-width: 100%;
    max-height: 380px;
    position: relative;
    width: 100%;

    img {
        object-fit: contain;
    }

    @include s {
        height: 380px;
    }
}

.content {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;

    &:global {
        &.withoutImages img {
            display: none;
        }
    }

    img {
        max-height: 200px;
        max-width: 100%;
        object-fit: contain;

        @include s {
            max-height: 380px;
        }
    }

    @include s {
        font-size: 20px;
        line-height: 34px;
    }
}

